server/target
server/*.db
server/*-config.json
agent/target
test-data/
test-web/
web/node_modules/
web/dist/

# Local config and data files
*.db
*-config.json
releases/
vstats-agent-dev
vstats-server-dev
oauth-proxy/node_modules

# OAuth Proxy
oauth-proxy/node_modules/

# Unsplash Proxy
unsplash-proxy/node_modules/
docs-site/node_modules
docs-site/dist
server-go/cmd/cli/cli
docs-site/deploy/dist
docs-site/deploy/vstats-cloud
server-go/cloud
